<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Heroku Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/dashbaord.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body>
		{{>header}}
	    {{{body}}}
		<script src="node/jquery/dist/jquery.min.js"></script>
    <script src="js/chart.min.js"></script>
		<script src="js/scripts.min.js"></script>
	</body>
</html>
