<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/dashbaord.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <header>
       <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">Menu</i></a></div>
       <ul id="nav-mobile" class="side-nav fixed">
         <li class="logo"><a id="logo-container" href="http://dashboard-heroku.herokuapp.com//" class="brand-logo">
         </li>
         <li class="search">
             <input id="search" type="search">
             <label for="search"><i class="material-icons">Search</i></label>
         </li>
         <li class="bold"><a href="about.html" class="waves-effect waves-teal">Home</a></li>
         <li class="no-padding">
           <ul class="collapsible collapsible-accordion">
             <li class="bold"><a class="collapsible-header  waves-effect waves-teal">CCI Level</a>
               <div class="collapsible-body">
                 <ul>
                   <li class='navList'><a href="red.html">General</a></li>
                   <li class='navList'><a href="red.html">Red</a></li>
                   <li class='navList'><a href="orange.html">Orange</a></li>
                   <li class='navList'><a href="green.html">Green</a></li>
                 </ul>
               </div>
             </li>
             <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Add Ons</a>
               <div class="collapsible-body">
                 <ul>
                   <li><a href="badges.html">General</a></li>
                   <li><a href="buttons.html">Postgres</a></li>
                   <li><a href="breadcrumbs.html">Redis</a></li>
                   <li><a href="cards.html">SSL</a></li>
                   <li><a href="chips.html">New Relic</a></li>
                   <li><a href="collections.html">MongoDB</a></li>
                   <li><a href="footer.html">Schedluar</a></li>
                   <li><a href="forms.html">Paper Trail</a></li>
                   <li><a href="icons.html">Oauth</a></li>
                   <li><a href="navbar.html">GemFury</a></li>
                   <li><a href="pagination.html">Sendgrid</a></li>
                   <li><a href="preloader.html">Connect</a></li>
                 </ul>
               </div>
             </li>
           </ul>
         </li>
         <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Mobile</a></li>
         <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li>
       </ul>
     </header>




     <footer class="page-footer">
               <div class="container">
                 <div class="row">
                   <div class="col l6 s12">
                     <h5 class="white-text">Footer Content</h5>
                     <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                   </div>
                   <div class="col l4 offset-l2 s12">
                     <h5 class="white-text">Links</h5>
                     <ul>
                       <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                       <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                       <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                       <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                     </ul>
                   </div>
                 </div>
               </div>
               <div class="footer-copyright">
                 <div class="container">
                 © 2014 Copyright Text
                 <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                 </div>
               </div>
             </footer>


</body>
<script src="node/jquery/dist/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/bundle.js"></script>
<script src="js/index.js">

</script>
</html>
