<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/dashbaord.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo" style="padding-left: 30px;">Dashboard</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Home</a>
                    </li>
                    <li><a href="badges.html">CCI Levels</a>
                    </li>
                    <li><a href="collapsible.html">Add Ons</a>
                    </li>
                    <li><a href="mobile.html">Other</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="sass.html">Home</a>
                    </li>
                    <li><a href="badges.html">CCI Levels</a>
                    </li>
                    <li><a href="collapsible.html">Add Ons</a>
                    </li>
                    <li><a href="mobile.html">Other</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container" id='totalAppsContainer'>

        <h1>Heroku</h1>

        <div class="row">

            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Total Number of Heroku Appliocations</span>
                        <p>
                            <div id='totalHerokuApps'></div>
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">Show all Apps</a>
                    </div>
                </div>
            </div>


            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Total Number of Heroku Add Ons</span>
                        <p>
                            <div id='totalHerokuAddOns'></div>
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">Show all Add Ons</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">

        <h1>Force</h1>

        <div class="row">
            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Total Number of Force Appliocations</span>
                        <p>
                            100
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">Show all Apps</a>
                    </div>
                </div>
            </div>


            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Total Number of Force Add Ons</span>
                        <p>
                            100
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">Show all Add Ons</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <div class="col s9">
                <h3 class='center'>Heroku Applications</h3>
            </div>
            <div class="col s3">
              <i class="material-icons">search</i>
                <input type="text" id='searchApps' class="form-control" placeholder="Search for Application...">
                <span class="input-group-btn">
        </span>
            </div>
        </div>
        <div class='row'>
            <div id="HerokuApps">
                <table class="striped centered responsive-table" id='herokuAppTable'>
                    <thead>
                        <th>Application Name</th>
                        <th>Application Profile</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <div class="col s9">
                <h3 class='center'>Heroku Add Ons</h3>
            </div>
            <div class="col s3">
              <i class="material-icons">search</i>
                <input type="text" id='searchAddOns' class="form-control" placeholder="Search for Add Ons...">
                <span class="input-group-btn">
        </span>
            </div>
        </div>
        <div class='row'>
            <div id="HerokuAddOns">
                <table class="striped centered responsive-table" id='herokuAddOnsTable'>
                    <thead>
                        <th>AddOn Name</th>
                        <th>AddOn Profile</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</body>
<script src="node/jquery/dist/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/index.js"></script>

</html>
