<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/dashbaord.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav>
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

<article>

</article>

<footer class="footer-2 bg-light text-center-xs">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <a href="#"><img class="image-xxs fade-half" alt="Lilly Logo" src="img/general/lillylogo.png"></a>
          </div>

          <div class="col-sm-4 text-center">
            <span class="fade-half">
              © Copyright 2016 Eli Lilly &amp; Company
            </span>
          </div>

          <div class="col-sm-4 text-right text-center-xs">
            <ul class="list-inline social-list">
              <li><a href="https://github.com/EliLillyCo" target="_blank"><i class="ti-github"></i></a></li>
              <li><a href="https://twitter.com/lillypad" target="_blank"><i class="ti-twitter-alt"></i></a></li>
              <li><a href="https://www.facebook.com/elilillyandco" target="_blank"><i class="ti-facebook"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>


</body>
<script src="node/jquery/dist/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/bundle.js"></script>
<script src="js/index.js">
</script>

</html>
