#totalAppsContainer {
  padding-top: 30px;
}

h1 {
    text-align: center;
}

.padding-top{
  padding-top: 30px;
}

.breadcrumb:before {
    content: '\E5CC';
    color: #f44336;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}
